@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    transform: rotate(0); }
  20% {
    transform: rotate(160deg); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7; }

h1 {
  text-transform: uppercase; }
  h1 span:nth-child(1) {
    display: block;
    font-size: 2rem;
    letter-spacing: 2.5rem;
    animation: moveInLeft 3s linear; }
  h1 span:nth-child(2) {
    display: block;
    font-size: 1rem;
    letter-spacing: 0.8rem;
    animation: moveInRight 3s linear; }

.u-center-text {
  text-align: center;
  margin-bottom: 8rem; }
  .u-center-text .heading-secondary {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background-image: linear-gradient(to right, lightgreen, green);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s; }
    .u-center-text .heading-secondary:hover {
      text-shadow: -5rem 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: skewY(2deg) skewX(15deg) scale(1.1); }

.heading-tertiary {
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 700; }

p {
  text-align: justify;
  padding: 1rem;
  font-size: 0.8rem; }

.btn:link, .btn:visited {
  font-size: 0.8rem;
  display: inline-block;
  margin-top: 20px;
  padding: 20px 60px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 20px;
  transition: all 0.2s;
  position: relative; }

.btn--white {
  color: black;
  background-color: #f2f2f2; }
  .btn--white::after {
    background-color: #f2f2f2; }

.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); }
  .btn:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6); }

.btn:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px); }

.btn::after {
  content: "";
  display: inline-block;
  border-radius: 100px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s; }

.btn--animation {
  animation: moveInBottom 0.3s linear 3s backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1rem;
  color: green;
  text-decoration: none;
  border-bottom: 1px solid green;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: lightgreen;
  box-shadow: 0 10px 20px rgba(144, 238, 144, 0.2);
  transform: translateY(-3px); }

.btn-text:active {
  box-shadow: 0 5px 10px rgba(144, 238, 144, 0.2);
  transform: translateY(-1px); }

.row {
  background-color: #f2f2f2;
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: #f2f2f2;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * ((100% - 2 * 6rem) / 3)) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * ((100% - 3 * 6rem) / 4)) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * ((100% - 3 * 6rem) / 4)) + 2 * 6rem); }

header {
  background-image: linear-gradient(to right bottom, rgba(144, 238, 144, 0.8), rgba(0, 128, 0, 0.8)), url(/advanced-css-course/Natours/after-S05/img/hero.jpg);
  height: 95vh;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative; }

.header_logo {
  position: absolute;
  top: 40px;
  left: 40px; }
  .header_logo img {
    height: 35px; }

.header_box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden; }
  .header_box:not(h1) {
    text-align: center; }

.section-about {
  background-color: #f2f2f2;
  margin-top: 5rem;
  padding: 2.5rem 0; }

.u-center-text {
  text-align: center; }

.heading-secondary {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, lightgreen, green);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  .heading-secondary:hover {
    text-shadow: -5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: skewY(2deg) skewX(15deg) scale(1.1); }
